html,body{
   margin: 0;
   padding: 0;
  
}



.heading{
    background: url("./images/GCES.png") no-repeat center top;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-size:cover;
	min-height: 550px;
    margin-top: 0%;
}

.video, .ishoot, .contact, footer {
    background-color: #2E3E4E;
    color: white;
}
.navbar, .about{
    width: 60%;
    justify-content: center;
}
nav{
    margin-top: 20px;
}

nav ul{
    text-decoration: none;
    list-style: none;
    text-align: right;
   
}

nav ul li{
    display: inline;
    padding: 20px;
    
}

nav ul a{
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica;
    
}

.intro h1{
    color:#2E3E4E;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
}

.detail{
    display: flex;
}

.image{
    justify-content: flex-end;
}

.image img{
    border: 2px solid #ef664d;
	border-radius: 50%;
	
}

